<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-12 name">
        USELESS CLOCK
      </div>
    </div>
  </div>
  <div class="container its">
    <div class="row">
      <div class="col-12">
        IT'S
      </div>
    </div>
  </div>
  <div class="container uselessTime">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="container its">
    <div class="row">
      <div class="col-6 laurel">
        <img src="assets/images/terrible_1.png" alt="">
      </div>
      <div class="col-6 laurel">
        <img src="assets/images/terrible_2.png" alt="">
      </div>
    </div>
  </div>
</div>

