<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-12 name" id="header">
        USELESS CLOCK
      </div>
    </div>
  </div>
  <div class="container its">
    <div class="row">
      <div class="col-12" id="its">
        IT'S
      </div>
    </div>
  </div>
  <div class="container uselessTime" >
    <div class="row">
      <div class="col-12" id="uselessTime">
        <app-clock #clockComponent></app-clock>
      </div>
    </div>
  </div>
  <div class="container reload" (click)="nextUselessTime();">
    <div class="row">
      <div class="col-12 reload-icon" id="reload-icon">
        <fa-icon [icon]="faRedoAlt"></fa-icon>
      </div>
    </div>
  </div>
  <div class="container its">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-6 laurel">
        <img src="assets/images/terrible_1.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-6 laurel">
        <img src="assets/images/terrible_2.png" alt="">
      </div>
    </div>
  </div>
</div>

